@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate-fadeUp {
    animation: fadeUp 1s ease-out forwards;
}

.bg-animated {
    background-size: 300% 300%;
    animation: gradientMove 10s ease infinite;
}
